.aboutUs_section_container {
  display: flex;
  justify-content: space-between;
}
.image_container {
  position: relative;
  width: 800px;
}
.image {
  position: absolute;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100% 100%;
}
.top_image {
  width: 450px;
  height: 300px;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../static/aboutUs/top.webp");
}
.mid_image {
  width: 500px;
  height: 360px;
  right: 7em;
  top: 3em;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../static/aboutUs/mid.webp");
}
.clients {
  position: relative;
  top: 120px;
  right: 70px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #338fda;
}
.clients:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 100%;
  border-right: 2.5em solid #338fda;
  border-top: 1em solid transparent;
}
.bot_image {
  width: 400px;
  height: 300px;
  bottom: 0;
  background-image: url("../../static/aboutUs/bot.svg");
}
.aboutUs_container {
  width: 700px;
}
.tech_problem {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.tech_problem > div {
  margin-right: 20px;
}
.btn_container {
  width: 140px;
  margin-top: 40px;
}
