.blogs_container {
  margin: 4em 0;
}
.blog > div {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.background {
  position: relative;
  height: 300px;
  text-align: center;
  background-position: center;
  background-size: 100% 100%;
}
@media (max-width: 1300px) {
  .background {
    margin-bottom: 5em;
  }
}

.text {
  box-sizing: border-box;
  padding: 1em;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  font-size: 1.3em;
  letter-spacing: 2px;
  background-color: #375068d1;
}

@media (max-width: 1200px) {
  .text {
    font-size: 1.2em;
  }
}
@media (max-width: 850px) {
  .text {
    font-size: 1.5em;
  }
}
@media (max-width: 500px) {
  .text {
    font-size: 1.2em;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 10em auto;
}

.container > div {
  flex-basis: 49%;
}
.images_container {
  position: relative;
}
.about_image {
  background-position: center;
  background-size: 100% 100%;
  width: 90%;
  height: 99%;
}
.blue {
  position: absolute;
  background-color: #1b7bcb;
  top: 40px;
  right: 0;
  width: 200px;
  height: 82%;
  z-index: -1;
}

.innovation_container {
  display: flex;
  margin-top: 40px;
  line-height: 2;
}
.innovation_container > div:last-child {
  margin-left: 4em;
}
.innovation_header {
  font-size: 1.5em;
  margin: 12px 0 1px 0;
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column-reverse;
  }
  .about_image {
    margin: 0 auto 4em auto;
    max-width: 600px;
    height: 500px;
  }
  .blue {
    position: relative;
    right: -460px;
    height: 400px;
  }
  .container > div:first-child {
    align-self: center;
  }
}
@media (max-width: 800px) {
  .about_image {
    position: relative;
    margin: 0 auto 4em auto;
    max-width: 500px;
    height: 400px;
  }
  .blue {
    position: absolute;
    right: -1em;
    height: 320px;
  }
}
@media (max-width: 650px) {
  .about_image {
    max-width: 80%;
    height: 300px;
  }
  .blue {
    height: 240px;
  }
}

@media (min-width: 1300px) {
  .overflow div {
    overflow: visible;
  }
}
