.bg_color {
  background-color: #03101d;
  height: calc(600px - 1.6vw);
}
.project_container {
  margin: 0 auto;
}
.project_wrapper {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}
.project_header {
  padding: 5em 0;
}
.project_header > div {
  justify-content: center;
}
.container {
  text-align: center;
}
.title {
  font-weight: bolder;
  font-size: 2em;
}

.project_img {
  width: 100%;
  height: 100%;
}

.info {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #03101d;
}
.date_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.date_icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  background-image: url("../../static/date.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.info h3 {
  margin: 0.5em 0;
  text-align: center;
  font-size: 2em;
  color: #207ac5;
}
.info p {
  font-size: 1.1em;
}
.view_projects {
  margin-top: 2em;
  padding: 1em 0;
  font-size: 1.4em;
  background-color: #2d4854;
  transition: all 300ms linear;
}
.view_projects:hover {
  background-color: #06345b;
}
.info_container {
  padding: 0 3em 2em 3em;
}

@media (max-width: 1500px) {
  .bg_color {
    height: calc(600px - 5vw);
  }
  .info h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 1400px) {
  .info_container {
    padding: 0 2em 2em;
  }
}

@media (max-width: 1050px) {
  .info h3 {
    font-size: 1.2em;
  }
  .view_projects {
    font-size: 1.2em;
  }
}

@media (max-width: 980px) {
  .bg_color {
    height: calc(600px - 10vw);
  }
}

@media (max-width: 700px) {
  .bg_color {
    height: calc(600px - 30vw);
  }
  .info {
    width: 95%;
  }
  .info_container {
    padding: 0 1em 1em;
  }
}

@media (max-width: 600px) {
  .bg_color {
    height: calc(600px - 20vw);
  }
  .info {
    width: 85%;
  }
  .info_container {
    padding: 0 2em 3em 2em;
  }
}

@media (max-width: 500px) {
  .info {
    width: 95%;
  }
}
