.container {
  height: 600px;
  background-image: linear-gradient(to right, rgba(49, 49, 49, 0.664), #03101d),
    url("../../static/launching.webp");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.launching_wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small_title {
  font-size: 2em;
  font-weight: bolder;
  word-spacing: 0.3em;
  letter-spacing: 0.2em;
}
.big_title {
  font-size: 7em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 20px 0 40px;
}

@media (max-width: 1000px) {
  .container {
    height: 400px;
  }
  .small_title {
    font-size: 1.5em;
  }
  .big_title {
    font-size: 5em;
  }
}
@media (max-width: 650px) {
  .small_title {
    font-size: 1.2em;
  }
  .big_title {
    font-size: 3.5em;
  }
}

@media (max-width: 450px) {
  .small_title {
    font-size: 100%;
  }
  .big_title {
    font-size: 200%;
  }
}
