.links {
  display: flex;
  justify-content: space-between;
  width: 520px;
}
.links > div a {
  font-size: 1.3em;
}
.links > div a:hover {
  color: #166bb1 !important;
}
.border {
  height: 4px;
  width: 20px;
  border-radius: 25%;
  background-color: #1b7bcb;
}
@media (max-width: 1250px) {
  .links {
    display: none;
  }
}

@media (min-width: 1250px) {
  .mobile_nav_icon {
    display: none;
  }
}
.mobile_nav_icon {
  cursor: pointer;
}

/* --- Mobile Nav ---*/
.mobile_wrapper {
  padding: 1.2rem 0;
  background-color: #f4f4f4;
  z-index: 3;
}

@media (min-width: 921px) {
  .mobile_wrapper {
    display: none;
  }
}

/*--- Side Nav ---*/
.sideNav_container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: #031526;
  z-index: 5;
}
.logo_svg_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side_links_container {
  margin-top: 20px;
}
.side_links {
  margin: 2rem 0;
  width: fit-content;
  overflow: hidden;
}
.side_links > a {
  color: white;
  font-size: 3em;
}
.border_expand {
  border: 1px solid white;
  margin-top: 10px;
  transform: translateX(-100%);
  transition: transform 0.4s ease;
}
.side_links:hover .border_expand {
  transform: translateX(0);
}
.first_line {
  transform: rotate(45deg);
}
.sec_line {
  transform: rotate(-45deg);
}
