.container {
  display: flex;
  justify-content: space-around;
  margin: 5em 0;
  position: relative;
}

.service_container {
  position: relative;
  height: 350px;
  margin: 0 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
@media (max-width: 1550px) {
  .service_container {
    margin: 0 1em;
  }
}

.slide_container {
  box-sizing: border-box;
  margin: 4em auto;
}

.service_title {
  position: absolute;
  bottom: 4rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  transition: opacity 1s;
}
.service_container:hover .service_title {
  opacity: 0;
}

.service_details_container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(8, 53, 81, 0.8705882352941177);
}
.service_container:hover .service_details_container {
  opacity: 1;
}
.service_details_wrapper {
  margin: 10%;
}
.service_icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.service_details_title {
  margin: 15px 0;
  font-size: 2rem;
}
.service_details_learnmore {
  display: flex;
  align-content: baseline;
  margin-top: 35px;
}
.service_details_learnmore p {
  color: #2aa5f1;
}
.span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

@media (max-width: 1250px) {
  .container {
    flex-wrap: wrap;
  }
  .service_container {
    margin: 0 5%;
    height: 300px;
  }
  .slide_container {
    padding: 1em;
  }
  .service_details_container {
    opacity: 1;
    transition: opacity 1s;
    background-color: rgba(8, 53, 81, 0.596);
  }
  .service_details_learnmore p,
  .span,
  .service_title {
    display: none;
  }
}

@media (max-width: 1250px) {
  .service_details_title {
    font-size: 1.4em;
  }
}
